@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #6B7280;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #6B7280;
}

/* ------------------ */
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* ------------------ */
.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1210px;
  margin: 0px auto;
  padding: 0px 15px;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 1;
  color: #1F2937;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: #1F2937;
}

h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #374151;
}

h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1F2937;
}

/*==============Text=====================*/
/* ====================Button========== */
.button {
  padding: 12px 32px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.5;
  margin: 10px;
}

.button-wite {
  background: #fff;
  border: solid 1px #3730A3;
}

.button-wite:hover {
  background: #EEEBFF;
  text-decoration: underline;
}

.button-blue {
  background: #3730A3;
}

.button-blue:hover {
  background: #5b3ffa;
  text-decoration: underline;
  color: #fff;
}

.button-wite__link {
  color: #3730A3;
}

.button-blue__link {
  color: #fff;
}

/* PC */
@media (max-width: 1440px) {
  [class*=__container] {
    max-width: 1210px;
  }
}
/* TABLET */
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: none;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }

  .button {
    padding: 6px 16px;
    font-size: 14px;
  }
}
/* MOBILE SMALL */
.header {
  width: 100%;
}

.header__container {
  display: flex;
  min-height: 236px;
  align-items: center;
}

.header__logo {
  flex: 1 1 auto;
  left: 0;
}

.header__menu {
  display: flex;
  max-width: 540px;
}

.menu__list {
  display: flex;
}

.menu__list-items {
  margin-right: 80px;
  color: #6B7280;
}

.list-items:hover {
  color: #3730A3;
  text-decoration: underline;
}

/* TABLET */
@media (max-width: 991.98px) {
  .header__container {
    min-height: 180px;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  .header__container {
    min-height: 120px;
  }

  .menu__list-items {
    margin-right: 80px;
    font-size: 14px;
  }
}
/* MOBILE SMALL */
/* ===============section1================= */
.jessica {
  margin-top: 102px;
}

.container-jessica {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jessica__content {
  max-width: 625px;
  margin-right: 6.5%;
}

.jessica__content-title {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #4338CA;
}

.jessica__content-title::before {
  content: "";
  top: 50%;
  position: absolute;
  width: 102px;
  border: 1px solid #3730A3;
}

.jessica__content-title p {
  padding-left: 112px;
}

.jessica__content-text {
  padding-right: 25px;
}

.jessica__content-text h1 {
  margin-top: 40px;
}

.jessica__content-text p {
  margin: 40px auto;
  padding-right: 40px;
}

.jessica__content-buttons {
  display: block;
  text-align: center;
}

.jessica__content-footer {
  margin-top: 20px;
  border-top: 1px solid #E5E7EB;
}

.jessica__content-footer p {
  padding-top: 20px;
  font-size: 12px;
  line-height: 16px;
}

.jessica__foto {
  max-width: 45%;
  height: 100%;
}

/* TABLET */
@media (max-width: 991.98px) {
  .jessica {
    margin-top: 46px;
  }

  .jessica__content-text h1 {
    margin-top: 40px;
    font-size: 48px;
  }
}
@media (max-width: 910px) {
  .jessica__content-text h1 {
    margin-top: 30px;
    font-size: 30px;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  .jessica__content-text h1 {
    margin-top: 40px;
  }

  .jessica__content-text p {
    margin: 20px auto;
    padding-right: 0;
    font-size: 14px;
  }
}
/* MOBILE SMALL */
/*====== section_2 ===============*/
.ideas {
  margin-top: 198px;
}

.ideas__header {
  width: 100%;
  text-align: center;
}

.ideas__body {
  margin-top: 150px;
  max-height: 622px;
  display: flex;
  justify-content: space-between;
}

.ideas__img {
  max-width: 38%;
  height: 100%;
}

.ideas__content {
  width: 57%;
  height: 100%;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.ideas__items {
  /* max-width: 690px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ideas__item {
  max-width: 311px;
  padding-bottom: 50px;
}

.ideas__item:last-child {
  margin-bottom: 0;
}

.ideas__item-text {
  padding: 15px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6B7280;
}

.ideas__item-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #3730A3;
}

/* TABLET */
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: none;
  }

  .ideas {
    margin-top: 120px;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
/* MOBILE SMALL */
/*===== section_3 =========*/
.label {
  min-height: 300px;
  margin-top: 159px;
  background-color: #FEF2F2;
}

/*.label__container {
	min-height: 300px;
	display: flex;
	align-items: center;
}*/
.label__content {
  padding: 100px 0;
}

.label__text {
  margin-bottom: 20px;
}

.label__items {
  max-height: 51px;
  max-width: 1172px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label__item {
  flex-wrap: wrap;
}

/*==== section_4 ===========*/
.gallery {
  margin-top: 148px;
}

.gallery__container {
  max-width: 1240px;
}

.gallery__title {
  max-width: 1040px;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
}

.gallery__items {
  margin-top: 150px;
  /* position: relative; */
}

.gallery__items-item {
  margin: 13px;
}

.item_3 {
  float: left;
}

.item_2 {
  float: right;
}

.gallery__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 555px;
  left: 680px;
  width: 495px;
  height: 94px;
  z-index: 50;
  background-color: #fff;
  padding: 0 27px;
}

.gallery__link-title {
  font-weight: 600;
}

.gallery__link-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #9CA3AF;
}

.gallery__link-arrow {
  color: #1F2937;
}

/*============= section_5 ===========*/
.skills {
  width: 100%;
  margin-top: 150px;
  height: 320px;
}

.scills__items {
  max-width: 1250px;
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.scills__items-item {
  width: 360px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.scills__symbol {
  width: 140px;
  height: 140px;
  border-radius: 6px;
  background-color: #EEF2FF;
}

.symbol__link {
  padding: 0 50px;
  position: relative;
  font-size: 32px;
  top: 50px;
}

.scills__item-title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.scills__item-text {
  text-align: center;
  color: #9CA3AF;
}

/*=========== section_6 =========*/
.careers {
  width: 100%;
  margin-top: 150px;
  height: 742px;
}

.careers__container {
  height: 100%;
}

.careers__title {
  padding: 5px;
  margin-bottom: 150px;
  text-align: center;
}

.careers__table {
  width: 100%;
  margin: 0px auto;
  widows: 1187px;
  height: 544px;
  text-align: left;
}

colgroup {
  width: 100%;
}

col {
  width: 33.3%;
}

th {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #6B7280;
  text-transform: uppercase;
}

td {
  font-size: 16px;
  line-height: 1.5;
  color: #6B7280;
}

td span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1F2937;
}

.company {
  text-align: center;
}

/*==== footer ===========*/
.footer {
  height: 480px;
  margin-top: 150px;
  background-color: #FEF2F2;
  text-align: center;
}

.footer__content {
  max-width: 1404px;
  margin: 110px auto;
}

.footer__title {
  margin-top: 111px;
}

.footer__text {
  margin: 20px auto;
  padding: 5px;
  max-width: 664px;
}

.footer__social {
  max-width: 460px;
  margin: 90px auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */