// ===== Header ===========
.header {
	width: 100%;
}

.header__container {
	display: flex;
	min-height: 236px;
	align-items: center;
}

.header__logo {
	flex: 1 1 auto;
	left: 0;
}

.header__menu {
	display: flex;
	max-width: 540px;
}

.menu__list {
	display: flex;
}

.menu__list-items {
	margin-right: 80px;
	color: #6B7280;
}

.list-items:hover {
	color: #3730A3;
	text-decoration: underline;
}

/* TABLET */
@media (max-width: 991.98px) {
	.header__container {
		min-height: 180px;
	}
}
/* MOBILE */
@media (max-width: 767.98px) {
	.header__container {
		min-height: 120px;
	}
	.menu__list-items {
		margin-right: 80px;
		font-size: 14px;
	}
}

@media (max-width: 600px) {
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
}