// ===== Header ===========
.header {
	width: 100%;

	&__container {
		display: flex;
		min-height: 236px;
		align-items: center;
	}

	&__logo {
		flex: 1 1 auto;
		left: 0;
	}

	// &__menu {
	// }
}
.menu {
	display: flex;
	max-width: 540px;

	// &__items {
	// }

	&__list {
		display: flex;
	}

	&__item {
		margin-right: 70px;
		color: #6B7280;
	}

	&__item:last-of-type {
		margin-right: 75px;
	}

	&__item:hover {
		color: #3730A3;
		text-decoration: underline;
	}
}


/* TABLET */
@media (max-width: 991.98px) {
	.header__container {
		min-height: 180px;
	}
}
/* MOBILE */
@media (max-width: 767.98px) {
	.header__container {
		min-height: 120px;
	}
	.menu__item {
		margin-right: 50px;
		font-size: 14px;
	}
	.menu__item:last-of-type {
		margin-right: 50px;
		font-size: 14px;
	}

}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
}