/* ===============section1================= */
.jessica {
	padding-top: 7%;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		max-width: 51%;
		// margin-right: 6.5%;
	}

	&__foto {
		max-width: 45%;
		height: 100%;
	}
}
.content {

	&__subtitle {
		position: relative;
		font-weight: 500;
		font-size: 20px;
		line-height: 28px;
		color: #4338CA;
	}

	&__subtitle p {
		padding-left: 18%;
		
	}

	&__subtitle::before {
		content: "";
		top: 50%;
		position: absolute;
		width: 16%;
		border: 1px solid #3730A3;
	}

	&__text-jessica h1 {
		padding: 40px 0;
	}

	&__text-jessica p {
		padding-right: 34px;
	}

	&__buttons-jessica {
		padding: 30px 0;
		display: flex;
		gap: 20px;
	}

	&__footer-jessica {
		padding-bottom: 10px;
		font-size: 12px;
		line-height: 16px;
		border-top: 1px solid #E5E7EB;
	}
}

/* MOBILE */
@media (max-width: 767.98px) {
	.jessica__content-text h1 {
		padding: 32px 0;
	}
	.content__subtitle {
		font-size: 16px;
	}
	.content__text-jessica p {
		// margin: 20px auto;
		padding-right: 0;
		font-size: 14px;
	}
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
	.jessica__container {
		flex-direction: column;
	}

	.jessica__content {
		max-width: 100%;
	}

	.content__text-jessica h1 {
		text-align: center;
	}

	.content__buttons-jessica {
		justify-items: center;
	}
	.content__footer-jessica {
		font-size: 10px;
	}
	.jessica__foto {
		max-width: 98%;
	}
}