
/*===== section_3 =========*/

.label {
	min-height: 300px;
	margin-top: 159px;
	background-color: #FEF2F2;
}

/*.label__container {
	min-height: 300px;
	display: flex;
	align-items: center;
}*/

.label__content {
	padding: 100px 0;
	
}

.label__text {
	padding-bottom: 20px;
}

.label__items {
	max-height: 51px;
	max-width: 1172px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.label__item {
	padding: 5px;
	
}


@media (max-width: 1150px) {
	
	.label {
		margin-top: 100px;
		
	}
}

@media (max-width: 992px) {
		.label__item img{
		max-width: 130px;
		
	}
	
}
@media (max-width: 910px) {
	.label__items {
		flex-flow: column;
	}
	.label__content {
		padding: 0;
			
	}
	.label__text {
		padding: 5px 0;
	}

}
@media (max-width: 767.98px) {}
@media (max-width: 479.98px) {}